**/*.bag
**/*.db3
**/*.pt
jazzy_ws/rosbags
jazzy_ws/build
jazzy_ws/install
jazzy_ws/log
smartfactoring_ws/build
smartfactoring_ws/install
smartfactoring_ws/log
ros-jazzy-ros1-bridge/build
ros-jazzy-ros1-bridge/install
ros-jazzy-ros1-bridge/log
**/.catkin_tools
**/.catkin_workspace
**/.dockerignore
**/.gitignore
**/*.log
**/*.pyc
.vscode
dependencies/libfreenect/build
.git
LICENSE
README.md

################################################################################
# C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
