<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : interbotix
    - 3d Sensor : astra

    - arm : TODO: supported arms?
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:include filename="$(find turtlebot2i_description)/urdf/turtlebot_library.urdf.xacro" />
  <xacro:kobuki/>

  <xacro:stack_interbotix parent="base_link"/>
  
  <xacro:sensor_astra parent="base_link"/>

  <!--<sensor_sr300 parent="base_link"/>-->
  <xacro:hokuyo_ust10_mount parent_link="base_link" prefix="lidar" topic="scan">
   <origin xyz="-0.10 0 0.35" rpy="0 0 0"/>
  </xacro:hokuyo_ust10_mount>
  <!--
  <sensor_d435i parent="base_link" name="camera_d435i" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
   <origin xyz="0.11 0 0.52" rpy="0 0 0"/>
  </sensor_d435i>
  -->

  <!--
  <phantomx_pincher_arm parent="base_link" color="Red" gripper_color="Red">
    <origin xyz="0.145 0.0 0.124"/>
  </phantomx_pincher_arm>
  -->

</robot>
