<?xml version="1.0"?>
<!--
  The complete turtlebot library of xacros for easy reference
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- General -->
  <xacro:include filename="$(find turtlebot2i_description)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2i_description)/urdf/turtlebot_properties.urdf.xacro"/>
  <!-- Stacks -->
  <xacro:include filename="$(find turtlebot2i_description)/urdf/stacks/sim_interbotix.urdf.xacro"/>
  <!-- Sensors -->
  <xacro:include filename="$(find turtlebot2i_description)/urdf/sensors/astra_pro.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2i_description)/urdf/sensors/rplidar.urdf.xacro"/>
  <!-- RobotXR Extra -->
  <xacro:include filename="$(find turtlebot2i_description)/urdf/misc/sim_powerbank.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2i_description)/urdf/misc/sim_nuc.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2i_description)/urdf/base/kobuki.urdf.xacro" /> 
</robot>
