<?xml version="1.0"?>
<launch>
  <include file="$(find turtlebot2i_bringup)/launch/minimal.launch"/>

  <include file="$(find turtlebot2i_bringup)/launch/lidar_sensor.launch"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    <arg name="linear_accel_cov" value="1.0"/>
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="camera" value="camera_d435i"/>
  </include>

  <!-- Teleop -->  
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
    <param name="scale_angular" value="1.0"/>
    <param name="scale_linear" value="0.1"/>
    <param name="axis_deadman" value="5"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="turtlebot_teleop_joystick/cmd_vel" to="/mobile_base/commands/velocity"/>
  </node>
  
  <node pkg="joy" type="joy_node" name="joystick"/>

</launch>
