<launch>
  <arg name="offline" default="false"/>
  <include unless="$(arg offline)" file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    <arg name="linear_accel_cov" value="1.0"/>
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="camera" value="camera_d435i"/>
  </include>

  <include file="$(find turtlebot2i_bringup)/launch/minimal.launch"/>
  
  <include file="$(find turtlebot2i_bringup)/launch/lidar_sensor.launch"/>
  
  
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
    <param name="use_mag" type="bool" value="false" />
    <param name="_publish_tf" type="bool" value="false" />
    <param name="_world_frame" type="string" value="enu" />
    <remap from="/imu/data_raw" to="/camera_d435i/imu"/>
  </node>
  

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="args" value="--delete_db_on_start"/>
    <arg name="rgb_topic" value="/camera_d435i/color/image_raw"/>
    <arg name="depth_topic" value="/camera_d435i/aligned_depth_to_color/image_raw"/>
    <arg name="camera_info_topic" value="/camera_d435i/color/camera_info"/>
    <arg name="depth_camera_info_topic" value="/camera_d435i/depth/camera_info"/>
    <arg name="frame_id" value="base_footprint"/>
    <arg name="odom_topic" value="/odom"/>
    <arg name="odom_frame_id_init" value="odom"/>
    <arg name="visual_odometry" value="false"/>                                       <!--set true if RGBD_odometry is used-->
    <arg name="rtabmapviz" value="false"/>
    <arg name="rviz" value="false"/>
    <remap from="odom" to="/odom"/>
    
    <!-- RTAB-Map's parameters -->
    <param name="RGBD/ProximityBySpace" type="string" value="false"/>
    <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
    <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
    <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
    <param name="Reg/Force3DoF" type="string" value="true"/>
    <param name="Vis/MinInliers" type="string" value="12"/>
  </include>
    
  <!-- Teleop -->  
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
    <param name="scale_angular" value="1.0"/>
    <param name="scale_linear" value="0.2"/>
    <!--<param name="axis_deadman" value="10"/>-->
    <param name="axis_deadman" value="5"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="turtlebot_teleop_joystick/cmd_vel" to="/mobile_base/commands/velocity"/>
  </node>
  
  <node pkg="joy" type="joy_node" name="joystick"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find turtlebot2i_bringup)/rviz/rtabmap.rviz" />

<!--
<include file="$(find robot_localization)/launch/ukf_template.launch"/>
<param name="/ukf_se/frequency" value="300"/>
<param name="/ukf_se/base_link_frame" value="camera_link"/>
<param name="/ukf_se/odom0" value="rtabmap/odom"/>
<rosparam param="/ukf_se/odom0_config">[true,true,true,
true,true,true,
true,true,true,
true,true,true,
true,true,true]
</rosparam>
<param name="/ukf_se/odom0_relative" value="true"/>
<param name="/ukf_se/odom0_pose_rejection_threshold" value="10000000"/>
<param name="/ukf_se/odom0_twist_rejection_threshold" value="10000000"/>



<param name="/ukf_se/imu0" value="/imu/data"/>
<rosparam param="/ukf_se/imu0_config">[false, false, false,
true, true, true,
true, true, true,
true, true, true,
true, true, true]
</rosparam>
<param name="/ukf_se/imu0_differential" value="true"/>
<param name="/ukf_se/imu0_relative" value="false"/>
<param name="/ukf_se/use_control" value="false"/>
-->
<!-- <param name="/ukf_se/odom0_config" value="{true,true,true,}"/> -->
</launch>
